@import "tailwindcss";

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.roboto-unique {
  font-family: "Roboto", sans-serif;
}
.font-noto {
  font-family: "Noto Serif", serif;
}
.be-vietnam-pro {
  font-family: "Be Vietnam Pro", sans-serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}
.font-tektur {
  font-family: "Tektur", sans-serif;
}
.font-merriweather {
  font-family: "Merriweather", serif;
}
